body{
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
/* .hand-wrapper{
    width:250px;
    height: 290px;
    background:rgba(0,0,0,0.1) url(/img/righthand.png);
    position: relative;
} */

/*.f{
    position: absolute;
    opacity: 0;
}
 .f img{
    height:100%;
    width: 100%;
}
.f1 {
    height: 80px;
    transform: rotate(-45deg) translate(-48px,78px);
}

.f2 {
    height: 98px;
    transform: rotate(-21deg) translate(42px,59px);
}
.f3 {
    height: 109px;
    transform: rotate(-7deg) translate(95px,28px);
}
.f4 {
    height: 109px;
    transform: rotate(6deg) translate(145px,11px);
}
.f5 {
    height: 87px;
    transform: rotate(33deg) translate(225px,2px);
}
.scl{
    width:100px;
    height:auto;
    transform: scale(1);
} */
.hand-wrapper{
    width:100%;
    max-width: 300px;
    min-width:120px;
    position: relative;
}
.hand-wrapper .hand{
    width: 100%;
}
.overlayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.f{
    position: absolute;
    opacity: 0;
}
.f img{
    height: 100%;
}
.test .f5{
    opacity: 1;
}
.f1 {
    width:11%;
    height: 28%;
    transform: rotate(-45deg) translate(-176%,96%);
}
.f2 {
    width: 11%;
    height: 33%;
    transform: rotate(-21deg) translate(153%,62%);
}
.f3{
    width: 10%;
    height: 37%;
    transform: rotate(-7deg) translate(383%,25%);
}
.f4 {
    width: 10%;
    height: 37%;
    transform: rotate(6deg) translate(586%,11%);
}
.f5 {
    width: 10%;
    height: 30%;
    transform: rotate(30deg) translate(899%,13%);
}

.fing-body{
    width:100vw;
    height:100vh;
    display: flex;
    position: relative;
    background-color: aliceblue;

}
.fing{
    width: 300px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
path{
    fill-opacity: 1;
    stroke: aqua;
    stroke-width: 3px;
    fill: aqua;
    stroke-dashoffset: 0;
    stroke-dasharray: 5000;
    transition: fill .9s ease;

    animation: animate 8s ease-in-out;
    animation-iteration-count: infinite;
}
circle{
    fill-opacity: 1;
    stroke: aqua;
    fill: aqua;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 5000;

    animation: animate 8s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0%{
        stroke-dashoffset: 5000;
        fill: white;
    }
    25%{
        stroke-dashoffset: 0;
        fill:white;
    }
    50%{
        stroke-dashoffset: 5000;
        fill: white;
    }
    75%{
        stroke-dashoffset: 0;
        fill:white;
    }
    100%{
        stroke-dashoffset: 5000;
        fill:white;
    }
}